.header-line{
    margin-top: 17px;
    margin-bottom: 125px;
}
.contact{
    font-weight: 500;
    font-size: 33px;
    line-height: 43px;
    text-align: center;
    letter-spacing: 1px;
    margin-left: -30px;
}
.text-part{
    font-family: "DM Sans", sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 39px;
    margin-bottom: 108px;
}

.contact-hello{
font-weight: 400;
font-size: 20px;
line-height: 26px;
width: 600px;
text-align: center;
letter-spacing: 0.88px;
}
.info-input-about{
    width: 396px;
    padding-bottom: 14px;
    border-bottom: 1px solid #D8D8D8;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.7px;
    display: flex;
    justify-content: space-between;
}




.email.large{
    padding-bottom: 46px;
}
.four-inputs{
    display: flex;
    flex-wrap:wrap;
    gap: 116px;
    justify-content: center;
}

.inputs{
    font-family: "DM Sans", sans-serif;
    color:#707070;
    width: 908px;
    
}
.header-desktop{
    margin-top: 66px;
}
.info-input-about > img{
    align-self: center;
    padding-top: 10px;
}
.info-input-about:nth-last-child(-n + 2){
    margin-top: -18px;
}
.last-input > p {
    padding-bottom: 46px;
}
.last-input{
    margin-top: 130px;
    border-bottom:1px solid #D8D8D8;
    width: 908px;

}
.send-button{
    background-color: #000000;
    color: #ffffff;
    border-radius: 4px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    padding: 16px 229px;
    margin-top: 95px;
    width: 500px;
    margin-left: -16px;
}

.header-desktop{
    display: flex;
    justify-content: space-between;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search{
    background-color: #EFEFEF;
    border:none;
    width: 250px;
    outline:none;
}
.search:focus{
    border: none;
}
.search-inp{
    display: none;
    height: 32px;
    background-color: #EFEFEF;
    border-radius: 4px;
    gap: 8px;
   
}
.search-inp>img{
    width: 12px;
    height: 12px;
    padding-left: 10px;
}
.agreement{
    display: flex;
    align-items: center;
    gap:4px;   
    margin-top: 12px;
}
.agreement > p{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
.agreement > input{
    border-radius:2px;
    width: 13px;
    height: 13px;
}
.footer-mobile{
    display: none;
}
.contact-mob{
    display: none;
}
/*
.email{
    letter-spacing: 0;
}
.top-footer{
    margin-top: 39px;
}

.footer-link{
    letter-spacing: 0.6px;
}
.email{
    letter-spacing: 0.6px;
}
.terms-of-use{
    letter-spacing: 0.55px;
}
.header_link-text{
    letter-spacing: 0.6px;
}

*/
@media only screen and (min-width: 320px) and (max-width: 480px){
    .header-mobile{
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        width: 90vw;

    }
    .contact-mob{
        display: block;
        font-size: 20px;
        font-weight: 400;
        align-self: start;
        width: 90vw;
    }
    .info-input-about{
        padding-bottom: 4px;
        
        font-size: 12px;
    }
   
    .contact{
        display: none;
    }
    .search-inp{
        display: flex;
        letter-spacing: 0;
        font-size: 12px;
        align-items: center;
        gap: 8px;    
        padding-top: 2px;
    }
    .search{
        width: 85vw;
    }
    .header-mobile_icons{
        display: flex;
        gap: 10px;
        align-items: start;
        padding-top: 8px;
        }
    body{
        margin: 0 5vw;
    }
    .logo{
        font-size: 25px;
        line-height: 40.5px;
        font-weight: 400;
    }
    .header-desktop{
        display: none;
    }
    .footer-desk{
        display: none;
    }
    .footer-mobile{
        margin-top: 94px;
        display: flex;
        flex-direction: column;
        font-family: "DM Sans", sans-serif;
    }
    .footer-input{
        width: 90vw;
        height: 24px;
       
    }
    .four-inputs{
        gap: 47px;
        flex-direction: column;
    }
    .footer-input > img{
        padding-top: 8px;
        width: 15px;
        height: 5px;
    }
    .email{
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0;
        width: 90vw;
    }
    .footer-links{
        display: flex;
        flex-direction: column;
        gap:8px;
        margin-top: 40px;    
    }
    .footer-link{
        font-size: 12px;
        letter-spacing: 0;
        font-weight: 400;
        line-height: 20px;
    }
    .footer-follow{
        display: flex;
        align-items: center;
        margin-top: 32px;
    }  
    .footer-follow > p{
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0;
    }
    .horizontal-stick{
        background: #000;
        height: 2px;
        width: 47px;
        margin-left: 16px;
        margin-right: 8px;
        margin-top:5px;
    }
    .footer-mobile-icons{
        display: flex;
        gap: 16px;
    }
    .footer-inst{
        width: 12px;
        height: 12px;
    }
    .footer-facebook{
        width: 7px;
        height: 12px;
    }
    .footer-twitter{
    width: 14px;
    height: 12px;
    }
    .terms-of-use{
        font-size: 12px;
        font-weight: 400;
        color: #707070;
        line-height: 20px;
        margin-top: 36px;
        margin-bottom: 19px;
        letter-spacing: 0;
    }
    .inputs{
        width: 90vw;
    }
    .info-input-about{
        width: 90vw;
    }
    .info-input-about:last-child{
        padding-bottom: 4px;
        align-items: center;
    }
    .info-input-about:last-child > img{
        padding-top: 0;
    }
    .last-input{
        width: 90vw;
        margin-top: 44px;
    }
    .email.large{
        padding-bottom: 65px;
    }
    .info-input-about:nth-last-child(-n + 2) {
        margin: 0;
    }
    .send-button{
        width: 90vw;
        font-weight: 400;
        padding: 6px 0;
        font-size: 12px;
        margin-top: 24px;
        margin-left: 0;
    }
    .footer-input > .email{
        letter-spacing: 0.8px;
        font-size: 14px;
        line-height: 18px;
    }
    .contact-hello{
        display: none;
    }
    .text-part{
        margin-top: 39px;
        margin-bottom: 62px;
    }
    .search-inp{
        width: 90vw;
    }

    .header-line{
        display: none;
    }


}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    body{
        margin: 0 5vw;
    }
    .footer-links{
        display: flex;
        justify-content: space-between;
        width: 90vw;
    }
    .footer-link{
        font-size: 14px;
        letter-spacing: 0;
        word-spacing: 0;
    }
    .footer-input{
        height: 32px;
        
       
    }
    .bot-footer{
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 10px;

    }
    .footer-input > img{
        width: 18px;
        height: 6px;
    }
    .header-desktop{
        display: none;
    }
    .header-mobile{
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        width: 90vw;
        align-items: center;
    }
    .header-mobile_icons{
        display: flex;
        gap: 30px;
        align-items: center;
        padding-top: 8px;
        }
        main{
            margin-top: 30px;
        }
        .footer-line{
            width: 90vw;
        }
        .top-footer{
            gap:0;
            flex-direction: column;
            align-items: start;
            gap: 30px;
            
        }
        .header-line{
            display: none;
        }
        .search-inp{
            display: flex;
            width: 90vw;
            align-items: center;
        }
        .search{
            width: 85vw;
        }
        .four-inputs{
            flex-direction: column;
            justify-content: center;
        }
        .inputs{
            width: 90vw;
        }
        .info-input-about{
            width: 90vw;
        }
        .last-input{
            width: 90vw;
        }
        .send-button{
            width: 70vw;
            padding: 10px 0;
        margin-left: 0;

        }
        .contact-hello{
            display: none;
        }
        .text-part{
            margin-top: 10vw;
            margin-bottom: 10vw;
        }
        .contact{
            margin-left: 0;
        }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    body{
        margin: 0 64px;
    }
    .footer-line{
        margin-top: 100px;
    }
    .top-footer{
        justify-content: space-between;
        gap: 0;
    }
    .footer-link{
        letter-spacing: 0;
    }
    .contact{
        margin-left: 0;
    }
    .email{
        font-size: 12px;
        width: 30vw;
    }
    .footer-input{
        height: 20px;
        width: 33vw;
    }
    .footer-input > img{
        width: 18px;
        height: 6px;
    }
    .top-footer{
        align-items: center;
    }
    
    .header-line{
        width: 85vw;


    }
    .footer-line{
        width: 85vw;

    }
    .header-desktop{
        width: 85vw;
        
    }
    .header_links-text{
        gap: 30px;
    }
    .header_links-icons{
        gap: 25px;
    }
    .header_links{
        gap: 20px;
    }
    .inputs{
        width: 60vw;
    }
    .info-input-about{
        width: 25vw;
        font-size: 14px;
    }
    .four-inputs{
        gap: 10vw;

    }
    .send-button{
        width: 60vw;
        margin-left: 0;

    }
    .last-input{
        width: 60vw;
    }
    .contact{
        margin-left: 0;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1439px){
    .inputs{
        width: 63vw;
    }
    .last-input{
        width: 100%;
    }
    .contact{
        margin-left: 0;
    }
    .info-input-about{
        width: 27.5vw;
    }
    .four-inputs{
        gap: 8vw;
    }
    .footer-link{
        letter-spacing: 0.5px;
    }
    .top-footer{
        justify-content: space-between;
        gap: 0;
        width: 85vw;
    }
    .bot-footer{
        width: 85vw;
    }
    .header-desktop{
        width: 85vw;
    }
    .header-line{
        width: 85vw;
    }
    .footer-links{
        gap: 20px;
    }
}